.navbar {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  
    .navbar-container {
      justify-content: center;
    }
  
    .navbar-logo {
      margin-right: auto;
    }
  
    .nav-item {
      margin: 0 10px;
    }
  
    .nav-links {
      font-size: 16px;
    }
  }
  